{% extends '@App/base.html.twig' %}

{% block ol %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('license_list') }}">License</a>
        </li>
        <li class="breadcrumb-item active">Update</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            {#<div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="./">
                    <i class="icon-graph"></i>  Dashboard</a>
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  Settings</a>
            </div>#}
        </li>
    </ol>        
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <strong>Update License</strong>
            {#            <small>List</small>#}
        </div>
        <div class="card-body">
            <div class="card-block">
                <form action="" method="post" id="formid">    
                    <div id="ok"></div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>License</label>
                            <input name="license" id="license" type="text" value="{{ license.license }}" placeholder="License" class="form-control">
                        </div>      
                        <div class="form-group col-sm-6">       
                            <label>Type of license</label>
                            <div class="selector-country">
                                <select class="form-control select-typelicense" name="typelicense" id="typelicense">
                                    <option value="">Select...</option>  
                                    {% for ArrayTypeLicense in ArrayTypeLicense %}
                                        {% if loop.index-1 == license.typelicense %}
                                            {% set selected = 'selected' %}                           
                                            <option value="{{loop.index-1}}"  {{ selected }}>{{ArrayTypeLicense}}</option>
                                        {% else %}
                                            <option value="{{loop.index-1}}">{{ArrayTypeLicense}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">       
                            <label>Users Quantity</label>
                            <input name="UsersQuantity" id="UsersQuantity" type="text" value="{{ license.usersquantity }}" placeholder="Users quantity" class="form-control">                
                        </div>
                        <div class="form-group col-sm-6">       
                            <label>Number of Clients</label>
                            <input name="numberClients" id="numberClients" type="text" value="{{ license.numberclients }}" placeholder="Number Clients" class="form-control">                
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">       
                            <label>Number of Exams</label>
                            <input name="numberExams" id="numberExams" type="text" value="{{ license.numberexams }}" placeholder="Number Exams" class="form-control">                
                        </div>
                        <div class="form-group col-sm-6">       
                            <label>Exams</label>
                            <div class="selector-country">
                                <select class="form-control select-exams" name="exams[]" id="exams" multiple="">
                                    {#<option value="">Select...</option>  #}
                                    {% for exams in exams %}
                                        {% set selected = 'selected' %}    
                                        {% if exams.id in license.exams %}
                                            <option value="{{exams.id}}" {{ selected }}>{{exams.name}}</option>  
                                        {% else %}  
                                            <option value="{{exams.id}}">{{exams.name}}</option>  
                                        {% endif %}  
                                    {% endfor %}
                                </select>                    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">       
                            <label>Modules</label>                
                            <div class="selector-country">
                                <select class="form-control select-modules" name="modules[]" id="modules" multiple="">
                                    {#<option value="">Select...</option>  #}
                                    {% for ArrayModules in ArrayModules %}
                                        {% set selected = 'selected' %}    
                                        {% if loop.index-1 in license.modules %}
                                            <option value="{{loop.index-1}}" {{ selected }}>{{ArrayModules}}</option>
                                        {% else %}  
                                            <option value="{{loop.index-1}}">{{ArrayModules}}</option>
                                        {% endif %}  
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">       
                            <label>Countries</label>
                            <div class="selector-country">
                                <select class="form-control select-countries" name="countries[]" id="countries" multiple="">
                                    {#<option value="">Select...</option>  #}
                                    {% for countries in countries %}
                                        {% set selected = 'selected' %}    
                                        {% if countries.id in license.countries %}
                                            <option value="{{countries.id}}" {{ selected }}>{{countries.name}}</option>
                                        {% else %}  
                                            <option value="{{countries.id}}">{{countries.name}}</option>
                                        {% endif %}  
                                    {% endfor %}

                                </select>
                            </div>
                        </div>         
                    </div>         
                    <div class="row">
                        <div class="form-group col-sm-6">       
                            <label>Duration Time</label>
                            <input name="durationTime" id="durationTime" type="text" value="{{ license.durationtime }}" placeholder="Duration Time" class="form-control">
                        </div>
                        <div class="form-group col-sm-6">       
                            <label>Notice of Payment</label>                
                            <input name="noticePayment" id="noticePayment" type="text" value="{{ license.noticepayment }}" placeholder="Notice of Payment" class="form-control">                
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">       
                            <label>Description</label>
                            <textarea name="description" id="description" type="text" placeholder="Description" class="form-control">{{ license.description }}</textarea>
                        </div>
                        <div class="form-group col-sm-6">       
                            <label>Amount</label>                
                            <input name="amount" id="amount" type="text" value="{{ license.amount }}" placeholder="Amount" class="form-control">                
                        </div>
                    </div>
                    <div class="form-group">       
                        <input type="submit" value="Edit" class="btn btn-primary" id="button">&nbsp;&nbsp;&nbsp;
                        {#                <input type="button" value="wama" class="btn btn-primary" id="" onclick="wama();">&nbsp;&nbsp;&nbsp;#}
                        <a class="btn btn-primary" href="{{ path('license_details', { 'id': license.id }) }}">Return</a>
                    </div>
                </form>      
            </div>    
        </div>
    </div>
    <style type="text/css"> 
        .ulPrueba{
            list-style: none;
            list-style-type: none;
            list-style-position: outside;
            margin: 0;
            padding: 10px;
        }

        .liPrueba{
            line-height: 30px;
            font-size: 16px;
            cursor:pointer;
            margin: auto;
            padding: auto;            
        }

        .divPrueba{
            width:250px;
            position:absolute;      
            border:1px solid black;
            background: white;

            -moz-box-shadow: -10 -10 5px #888;
            -webkit-box-shadow: 0 0 5px#888;
            box-shadow: 0 0 5px #888;
        }
        li:hover {
            background-color: silver;
        }
    </style> 

    <script type="text/javascript">
        $(document).ready(function () {
            $('#UsersQuantity').mask("9999999999", {placeholder: " "});
            $('#numberClients').mask("9999999999", {placeholder: " "});
            $('#numberExams').mask("9999999999", {placeholder: " "});
            $('#durationTime').mask("9999999999", {placeholder: " "});
            $('#noticePayment').mask("9999999999", {placeholder: " "});
            $('#amount').mask('000000000.00', {reverse: true});

            $(".select-exams").chosen({
                placeholder_text_multiple: "Select a exam",
                disable_search_threshold: 10,
                no_results_text: "There are no results!"
            });
            $(".select-modules").chosen({
                placeholder_text_multiple: "Select a module",
                disable_search_threshold: 10,
                no_results_text: "There are no results!"
            });
            $(".select-countries").chosen({
                placeholder_text_multiple: "Select a country",
                disable_search_threshold: 10,
                no_results_text: "There are no results!"
            });

            $(".select-typelicense").chosen({
                placeholder_text_single: "Select the type of license"
            });

            var emailreg = /^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/;

            $("#button").click(function () {
                var numberExams = $("#numberExams").val();
                var fields = $("#exams").val();
                //var fields_split = fields.split(",");
                var fields_lenght = fields.length;

                        $(".error").remove();
                        if ($("#license").val() == "") {
                                $("#license").focus().after("<span class='error' style='color:#FF0000;'>Enter the license</span>");
                                return false;
                        } else if ($("#UsersQuantity").val() == "") {
                                $("#UsersQuantity").focus().after("<span class='error' style='color:#FF0000;'>Enter the numbers users</span>");
                                return false;
                        } else if ($("#numberClients").val() == "") {
                                $("#numberClients").focus().after("<span class='error' style='color:#FF0000;'>Enter numbers clients</span>");
                                return false;
                        } else if ($("#numberExams").val() == "") {
                                $("#numberExams").focus().after("<span class='error' style='color:#FF0000;'>Enter numbers exams</span>");
                                return false;
                        } else if ($("#exams").val() == "") {
                                $("#exams").focus().after("<span class='error' style='color:#FF0000;'>select exmas</span>");
                                return false;
                        } else if ($("#modules").val() == "") {
                                $("#modules").focus().after("<span class='error' style='color:#FF0000;'>Select the modules</span>");
                                return false;
                        } else if ($("#countries").val() == "") {
                                $("#countries").focus().after("<span class='error' style='color:#FF0000;'>Select the countries</span>");
                                return false;
                        } else if ($("#durationTime").val() == "") {
                                $("#durationTime").focus().after("<span class='error' style='color:#FF0000;'>Enter the duration of the license</span>");
                                return false;
                        } else if ($("#noticePayment").val() == "") {
                                $("#noticePayment").focus().after("<span class='error' style='color:#FF0000;'>Enter the payment notice</span>");
                                return false;
                        } else if ($("#description").val() == "") {
                                $("#description").focus().after("<span class='error' style='color:#FF0000;'>Enter the description</span>");
                                return false;
                        } else if ($("#amount").val() == "") {
                                $("#amount").focus().after("<span class='error' style='color:#FF0000;'>Enter the amount</span>");
                                return false;
                        } else if (numberExams != fields_lenght) {
                                $("#exams").focus().after("<span class='error' style='color:#FF0000;'>The number of exams must be equal to the exams entered</span>");
                    alert('The number of exams must be equal to the exams entered');
                                return false;
                        }
            });
            $("#license, #UsersQuantity, #numberClients, #numberExams, #exams, #modules, #countries, #durationTime, #noticePayment, #description, #amount").keyup(function () {
                        if ($(this).val() != "") {
                                $(".error").fadeOut();
                                return false;
                        }
            });

        });

        function wama()
        {
            alert($("#exams").val());

        }


    </script>  
{% endblock %}