{% extends '@App/base.html.twig' %}

{% block ol %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('modules_list') }}">Modules</a>
        </li>
        <li class="breadcrumb-item active">Details</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            {#<div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="./">
                    <i class="icon-graph"></i>  Dashboard</a>
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  Settings</a>
            </div>#}
        </li>
    </ol>        
{% endblock %}

{% block body %}
    {% set status = "" %}             
    {% set class = "" %}       
    <div class="card">
        <div class="card-header">
            <strong>Details Module</strong>
            <a title="DELETE" href="{{ path('modules_delete', { 'id': id, 'positionModule' : positionModule  }) }}" class="btn btn-danger" onclick="return confirm('¿Be sure to eliminate the modules?');" style="; float: right"><i class="fas fa-minus-circle"></i> </a>
            <strong style="float: right">&nbsp;&nbsp;</strong>
            <a align="right" title="EDIT" href="{{ path('modules_edit', { 'id': id, 'positionModule' : positionModule }) }}" class="btn btn-default"  style="background-color: #a1c9c2; color: black; float: right"><i class="fas fa-edit"></i> </a>            
        </div>        
        <div class="card-body">
            <div class="panel panel-body">
                {% if statusModule == 1 %}
                    {% set status = "ACTIVE" %}             
                    {% set class = "badge badge-success" %}   
                {% else %}    
                    {% set status = "INACTIVE" %}
                    {% set class = "badge badge-danger" %}   
                {% endif %}
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <tr>
                        <td align = "justify" style="width: 150px"><b>Name</b></td>
                        <td align = "justify" style="width: 50px">{{name}}</td>                        
                    </tr>                    
                    <tr>
                        <td align = "justify" style="width: 150px"><b>Controller</b></td>
                        <td align = "justify" style="width: 50px">{{controller}}</td>                                                
                    </tr>                    
                    <tr>
                        <td align = "justify" style="width: 150px"><b>Description</b></td>
                        <td align = "justify" style="width: 50px">{{description}}</td>                        
                    </tr>                    
                    <tr>
                        <td align = "justify" style="width: 150px"><b>Status</b></td>
                        <td align = "justify" style="width: 50px"><span class = "{{class}}">{{status}}</span></td>                        
                    </tr>                                        
                    <tr>
                        <td align = "justify" style="width: 150px"><b>Permits</b></td>
                        <td align = "justify" style="width: 50px"><button id="btnModalPermits" title="View Permits" class="btn btn-primary btn-sm"><b>View</b></button></td>                                                                        
                    </tr>                    
                </table>    
                <div id="permitsModal" class="mascara">
                    <div class="contenido" style="">
{#                        <span class="close" onclick="$('#permitsModal').hide();">&times;</span><br><br>#}
                        <span class="close" onclick="$('#permitsModal').hide();">&times;</span><br><br>
                        <table class="table table-responsive-sm table-striped scrolled-wrapper">
                            <tr> 
                                <td align="center"><b>Name</b></td>                                                                       
                                <td align="center"><b>Route</b></td>                                                                       
                                <td align="center"><b>Action</b></td>                                                                       
                                <td align="center"><b>Method</b></td>                                                                                                       
                            </tr>         
                            {% for permits in permits %}
                                <tr> 
                                    <td align="center">{{ permits.permit }}</td>                                                                       
                                    <td align="center">{{ permits.route }}</td>                                                                       
                                    <td align="center">{{ permits.action}}</td>                                                                       
                                    <td align="center"><button type="button" class="methods-popover btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-placement="top" title="Methods" data-content="{{ permits.method|join(' - ') }}"><b>View</b></button></td>                                                                                                                                                                                                                      
                                </tr> 
                            {% endfor %}
                        </table>  
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" href="{{ path('modules_list') }}">Return</a>
        </div>

    </div>

    <style type="text/css">
        .mascara {
            display: none; 
            position: fixed; 
            z-index: 1; 
            padding-top: 100px; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: auto;
        }
        .mascara > div {
            width: 700px;
            top: 0%;
            position: relative;
            margin: 0% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #FFFFFF;  /* fallback for old browsers */            
            transition: opacity 400ms ease-in;
        }
        .contenido {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;  
            height: auto;
            overflow-y: auto;
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.8s;
            animation-name: animatetop;
            animation-duration: 0.8s
        }
        /* Add Animation */
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }

        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }       
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    </style>    

    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                $('.methods-popover').popover({
                    container: 'body'
                })
            })

            var permitsModal = document.getElementById('permitsModal');
            var btnModalPermits = document.getElementById("btnModalPermits");

            btnModalPermits.onclick = function () {
                permitsModal.style.display = "block";
            }
            
             window.onclick = function (event) {
                if (event.target === permitsModal) {

                    permitsModal.style.display = "none";

                }
            }


        });
    </script>  
{% endblock %}