<!DOCTYPE html>
<html>
    <head>
        <base href="./">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>.::Login::.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
        <meta name="author" content="Åukasz Holeczek">
        <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
        
        <link href="{{ asset('css/coreui-icons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/flag-icon.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/simple-line-icons.css') }}" rel="stylesheet">

        <!-- Main styles for this application-->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/pace.min.css') }}" rel="stylesheet">


        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
    </head>
    <body style="background-image: url({{ asset('img/brand/backscs.jpg')}});  background-repeat: no-repeat;  background-size: 1440px 840px; ">
    
        <div>
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}#}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        <script src="{{ asset('jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('jquery/popper.min.js') }}"></script>
        <script src="{{ asset('jquery/bootstrap.min.js') }}"></script>
        <script src="{{ asset('jquery/pace.min.js') }}"></script>
        <script src="{{ asset('jquery/perfect-scrollbar.min.js') }}"></script>
        <script src="{{ asset('jquery/coreui.min.js') }}"></script>        
    </body>
</html>
