{% extends '@App/base.html.twig' %}

{% block ol %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('services_list') }}">Services</a>
        </li>
        <li class="breadcrumb-item active">Details</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            {#<div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="./">
                    <i class="icon-graph"></i>  Dashboard</a>
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  Settings</a>
            </div>#}
        </li>
    </ol>        
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <strong>Details Services</strong>
            <a title="DELETE" href="{{ path('services_delete', { 'id': exams.id }) }}" class="btn btn-danger" onclick="return confirm('¿Be sure to eliminate the service?');" style="; float: right"><i class="fas fa-minus-circle"></i> </a>
            <strong style="float: right">&nbsp;&nbsp;</strong>
            <a align="right" title="EDIT" href="{{ path('services_edit', { 'id': exams.id }) }}" class="btn btn-default"  style="background-color: #a1c9c2; color: black; float: right"><i class="fas fa-edit"></i> </a>            
        </div>        
        <div class="card-body"> 
            <div class="panel panel-body">
                {% if exams.active == true %}
                    {% set status = "ACTIVE" %}      
                    {% set class = "badge badge-success" %}   
                {% else %}    
                    {% set status = "INACTIVE" %}
                    {% set class = "badge badge-danger" %}   
                {% endif %}
                {% set NameCategoria =  ''%}  
                {% for ArrayCategoryExams in  ArrayCategoryExams %}
                    {% if exams.category == loop.index-1 %}
                        {% set NameCategoria =  ArrayCategoryExams%}  
                    {% endif %}
                {% endfor %}
                <table id="tableExams" class="table table-responsive-sm table-bordered table-striped table-sm" > 
                    <tr> 
                        <td align = "justify" style="width: 90px"><b>Service</b></td>
                        <td align = "justify" style="width: 50px">{{ exams.name }}</td>
                    <tr>
                        <td align = "justify" style="width: 50px"><b>Category</b></td>
                        <td align = "justify" style="width: 50px">{{ NameCategoria }}</td>
                    </tr>
                    <tr>
                        <td align = "justify" style="width: 50px"><b>Fields</b></td>
                        <td align = "justify" style="width: 50px">{{ exams.fields|join(' - ') }}</td>
                    </tr>
                    <tr>
                        <td align = "justify" style="width: 50px"><b>Status</b></td>
                        <td align = "justify" style="width: 50px"><span class = "{{class}}">{{status}}</span></td>                        
                    </tr> 

                </table>        
            </div>

            <a class="btn btn-primary" href="{{ path('services_list') }}">Return</a>
        </div>
    </div>
{% endblock %}