{% extends '@App/base.html.twig' %}

{% block ol %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('province_list') }}">Provinces</a>
        </li>
        <li class="breadcrumb-item active">Update</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            {#<div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="./">
                    <i class="icon-graph"></i>  Dashboard</a>
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  Settings</a>
            </div>#}
        </li>
    </ol>        
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <strong>Update Province</strong>
            {#            <small>List</small>#}
        </div>        
        <div class="card-body">   
            <form action="" method="post" id="formid">    
                <div class="form-group">       
                    <label>Country</label>
                    <div class="selector-exam">
                        <select class="form-control select-country_id" name="country_id" id="country_id">
                            <option value="">Select...</option>  
                            {% for countries in countries %}
                                {% set selected = 'selected' %}    
                                {% if countries.id in country.id %}
                                    <option value="{{countries.id}}" {{ selected }}>{{countries.name}}</option>  
                                {% else %}  
                                    <option value="{{countries.id}}">{{countries.name}}</option>  
                                {% endif %}  
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Province/City</label>
                    <input name="province" id="province" type="text" value="{{ country.provinces[posicionProvince]['name'] }}" placeholder="Province" class="form-control">
                    <input name="timeZ" id="timeZ" type="hidden" value="">
                </div>
                <div class="form-group">       
                    <input type="submit" value="Edit" class="btn btn-primary" id="button">&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="{{ path('province_details', { 'id': country.id, 'posicionProvince': posicionProvince}) }}">Return</a>                    
                </div>
            </form>

            {#{{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="btn btn-primary" style="position: relative; top: -50px; left:75px" href="{{ path('province_list') }}">Return</a>
            {{ form_end(form) }}#}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function(){
                $("#timeZ").val($("#timeZone").val());                
            }, 1000);
            
            $(".select-country_id").chosen({
                placeholder_text_single: "Select the country"
            });

            $("#button").click(function () {
                        $(".error").remove();
                        if ($("#country_id").val() == "") {
                                $("#country_id_chosen").focus().after("<span class='error' style='color:#FF0000;'>Select the country</span>");
                                return false;
                        } else if ($("#province").val() == "") {
                                $("#province").focus().after("<span class='error' style='color:#FF0000;'>Enter the province</span>");
                                return false;
                        }
            });
            $("#country_id, #province").keyup(function () {
                        if ($(this).val() != "") {
                                $(".error").fadeOut();
                                return false;
                        }
                });
        });
    </script>      
{% endblock %}