{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <a class="btn btn-primary" href="{{ path('province_create') }}" role="button" style="" class=""><i class="fas fa-plus-circle"></i> </a>&nbsp;&nbsp;&nbsp;&nbsp;          
            <strong>List Provinces</strong>
            {#            <small>List</small>#}
        </div>        
        <div class="card-body">            
            
            <table id="tableProvincia" class="display nowrap dataTable dtr-inline collapsed"> 
                <thead> 
                    <tr> 
                        <th>Province/City</th>    
                        <th>Country</th>    
                        <th>Action</th>      
                    </tr> 
                </thead> 
                <tbody class="display nowrap dataTable dtr-inline collapsed"> 
                    {% for province in provinces %}
                        {% for infoProvinces in  province.provinces %}
                            {% if infoProvinces.active == 1 %}
                                <tr> 
                                    <td>{{infoProvinces.name}}</td>                                 
                                    <td>{{province.name}}</td>    
                                    <td style="width: 110px">
                                        <a title="VIEW" href="{{ path('province_details', { 'id': province.id, 'posicionProvince': loop.index-1 }) }}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                        <a title="EDIT" href="{{ path('province_edit', { 'id': province.id, 'posicionProvince': loop.index-1 }) }}" class="btn btn-default" style="background-color: #a1c9c2; color: black "><i class="fas fa-edit"></i></a>
                                        <a title="DELETE" href="{{ path('province_delete', { 'id': province.id, 'posicionProvince': loop.index-1 }) }}" class="btn btn-danger" onclick="return confirm('¿Be sure to eliminate the country?');"><i class="fas fa-minus-circle"></i></a>
                                    </td> 
                                {% endif %}
                            </tr>     
                        {% endfor %}
                    {% endfor %}
                </tbody> 
            </table>    
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tableProvincia')
                    .addClass('nowrap')
                    .dataTable();
        });

    </script>  

{% endblock %}
