{% if opcion == 1 %}  
    <select class="form-control select-waytopay" style="width: 95%" name="waytopay" id="waytopay" onchange="wayToPayOperation();">            
        <option value="">Select...</option> 
        {% for waytopay in waytopay %}
            {% set selected = 'selected' %}
            {% if waytopay == waytopayEdit %}
                <option value="{{waytopay}}" {{ selected }}>{{waytopay}}</option>  
            {% else %}  
                <option value="{{waytopay}}">{{waytopay}}</option>
            {% endif %}  
        {% endfor %}
    </select>
{% elseif opcion == 2 %}  
    <select class="form-control select-issuingbank" style="width: 95%" name="issuingbank" id="issuingbank" onchange="" disabled="">  
        <option value="">Select...</option> 
        {% for issuingbank in issuingbank %}
            {% set selected = 'selected' %}
            {% if issuingbank == issuingbankEdit %}
                <option value="{{issuingbank}}" {{ selected }}>{{issuingbank}}</option>  
            {% else %}  
                <option value="{{issuingbank}}">{{issuingbank}}</option>
            {% endif %}  
        {% endfor %}
    </select>
{% elseif opcion == 3 %}  
    <select class="form-control select-receivingbank" style="width: 95%" name="receivingbank" id="receivingbank" onchange="" disabled="">
        <option value="">Select...</option> 
        {% for receivingbank in receivingbank %}
            {% set selected = 'selected' %}
            {% if receivingbank == receivingbankEdit %}
                <option value="{{receivingbank}}" {{ selected }}>{{receivingbank}}</option>  
            {% else %}  
                <option value="{{receivingbank}}">{{receivingbank}}</option>
            {% endif %}  
        {% endfor %}
    </select>
{% elseif opcion == 4 %}    
    <select class="form-control select-licenses" name="license" id="license" onchange="loadAjax(this.value, 'divLicenses', 5);
            loadInfoLicense();">
        <option value="">Select...</option> 
        {% for licensecountry in licensecountry %}
            {% set selected = '' %}
            <option value="{{licensecountry.id}}">{{licensecountry.license}}</option>
        {% endfor %}
    </select>
{% elseif opcion == 5 %}    
    {#    <span class="close" onclick="$('#licenseModal').hide();">&times;</span>#}
    <table align="center" id="tablelicenses_" class="table table-responsive-sm table-bordered table-hover table-sm" style="width: 100%; border-radius: 40px; font-size: 14px;">
        <tr align="center" style="">
            <th colspan="2" align="center"><img src="{{ asset('img/sc.png') }}" alt="License" width="280px" height="80px"/></th>                                                            
        </tr>
        <tr align="center" style="">
            <th style="width: 30px" align="center"><b>License</b></th>   
        <input name="licenseid" id="licenseid" type="hidden" value="{{ license.id }}" >                    
        <input name="inputLicense" id="inputLicense" type="hidden" value="{{ license.license }}" >                    
        <input name="inputUsersQuantity" id="inputUsersQuantity" type="hidden" value="{{ license.usersquantity }}" >                    
        <input name="inputNumberClients" id="inputNumberClients" type="hidden" value="{{ license.numberclients }}" >                    
        <input name="inputNumberExams" id="inputNumberExams" type="hidden" value="{{ license.numberexams }}" >                    
        <input name="inputDurationTime" id="inputDurationTime" type="hidden" value="{{ license.durationtime }}" >                    
        <input name="inputAmount" id="inputAmount" type="hidden" value="{{ license.amount }}" >                    
        <input name="inputCurrentSymbol" id="inputCurrentSymbol" type="hidden" value="{{ country.currencySymbol }}" >                    
        <input name="inputNuevaFecha" id="inputNuevaFecha" type="hidden" value="{{ nuevafecha }}" >                    
        <th style="width: 30px" align="center" id="thLicense">{{ license.license }}</th>                                                            
    </tr>
    <tr align="center" style="">
        <th style="width: 30px" align="center"><b>Users Quantity</b></th>                                                            
        <th style="width: 30px" align="center">{{ license.usersquantity }}</th>                                                            
    </tr>
    <tr align="center" style="">
        <th style="width: 30px" align="center"><b>Number of Clients</b></th>                                                            
        <th style="width: 30px" align="center">{{ license.numberclients }}</th>                                                            
    </tr>
    <tr align="center" style="">
        <th style="width: 30px" align="center"><b>Number of Exams</b></th>                                                            
        <th style="width: 30px" align="center">{{ license.numberexams }}</th>                                                            
    </tr>
    <tr align="center" style="">
        <th style="width: 30px" align="center"><b>Duration Time</b></th>                                                            
        <th style="width: 30px" align="center">{{ license.durationtime }}</th>                                                            
    </tr>
    <tr align="center" style="">
        <th style="width: 30px" align="center"><b>Amount</b></th>                                                            
        <th style="width: 30px" align="center">{{ license.amount|number_format(2, '.', ',') }}  {{ country.currencySymbol }}</th>                                                            
    </tr>    
</table>   
<div class="form-group">  
    <input type="button" value="Add" class="btn btn-primary" id="addButtonLicenses" onclick="agregarLicenses();">&nbsp;&nbsp;&nbsp;                                                        
</div>   
{% elseif opcion == 6 %}    
    <table id="tablePayments" class="table table-responsive-sm table-striped"> 
        <thead> 
            <tr> 
                <th>Medical Center</th>    
                <th>Status Payment</th>                            
            </tr> 
        </thead> 
        <tbody id="tablePaymentsBody"> 
            {% for medicalcenter in medicalcenter %}
                {% if medicalcenter.paymentstatus == "Paid out" %}
                    {% set status =  medicalcenter.paymentstatus %}             
                    {% set class = "badge badge-success" %}   
                {% else %}    
                    {% set status = medicalcenter.paymentstatus %}
                    {% set class = "badge badge-danger" %}   
                {% endif %}                        
                <tr> 
                    <td><a title="View Details" class="nav-link" href="{{ path('payments_details', { 'id': medicalcenter.id }) }}">{{medicalcenter.name}}</a></td>                                                             
                    <td><span class = "{{class}}">{{status}}</span></td>                                  
                </tr>   

            {% endfor %}
        </tbody> 
    </table>    
{% elseif opcion == 7 %}   

    {% set NameLanguaje = '' %}  
    {% set status = "" %}             
    {% set class = "" %}    
    {% set acumAmountLicense = 0 %}   
    {% set acumAmountPayments = 0 %}   
    {% set acumRemaining = 0 %}   
    {% set renovation = "" %}       
    {% set totalAmountLicense = 0 %}   
    {% if medicalcenter.paymentstatus == "Paid out" %}
        {% set status =  medicalcenter.paymentstatus %}             
        {% set class = "badge badge-success" %}   
    {% else %}    
        {% set status = medicalcenter.paymentstatus %}
        {% set class = "badge badge-danger" %}   
    {% endif %}    
    {#<table class="table table-responsive-sm table-bordered table-striped table-sm">
        <tr>
            <td align = "justify" style="width: 80px"><b>Status Payment</b></td>
            <td align = "justify" style="width: 100px"><span class = "{{class}}">{{status}}</span></td>                        
        </tr>                                                         
    </table>  #}
    <div class="">
        <input name="simboloMoneda" id="simboloMoneda" type="hidden" value="{{currentSymbol}}">
        <h5 class="form-control"><b>Medical Center:</b> {{ country_id }}</h5>
        <h5 class="form-control"><b>License / Due Date:</b>&nbsp;&nbsp;&nbsp;&nbsp;<a title="View Licenses" onclick="loadInfoLicenseModal();" class="btn btn-primary btn-sm" style="" class="btn btn-primary btn-sm"><i class="fas fa-search"></i></a></h5>
    </div>     
    <br>    
    <div align="center" id="labelLicense" style="display: block"><h4 style="background-color: #f0f3f5; align-items: center">Licenses</h4></div>
    {#    <a class="btn btn-primary btn-sm" href="{{ path('license_payment_create', { 'id': id }) }}" title="Add License" role="button"><i class="fas fa-plus-circle"></i> Add License</a>&nbsp;&nbsp;&nbsp;&nbsp;              #}
    {#    <a class="btn btn-primary btn-sm" onclick="loadInfoLicense();" title="Add License" role="button"><i class="fas fa-plus-circle"></i> Add License</a>&nbsp;&nbsp;&nbsp;&nbsp;              #}
    <button title="Add License" type="button" onclick="loadInfoLicense();" class="btn btn-primary btn-sm" style=""><i class="fas fa-plus-circle"></i> Add License</button>
    <br>                
    <br>    
    <input name="countLicenses" id="countLicenses" type="hidden" value="{{arrayLicenseData|length}}">
    <input name="medicalCenterId" id="medicalCenterId" type="hidden" value="{{id}}">
    <table id="tablelicenses" class="table table-responsive-sm table-bordered table-hover table-sm" style="display: table; width: 100%; font-size: 14px;">
        <tr align="center" style="background-color: #f0f3f5;">
            <th align="center">License</th>                            
            <th align="center">Users Quantity</th>                            
            <th align="center">Number of Clients</th>                            
            <th align="center">Number of Exams</th>                            
            <th align="center">Duration Time</th>                            
            <th align="center">Amount</th>   
            <th align="center">Due Date</th>   
            <th align="center">Action</th>
        </tr>
        {% set amountLicense = 0 %} 
        {% set amountRenovation = 0 %} 
        {% set amountLicenseRenovation = 0 %} 
        {% set totalAmountLicense = 0 %} 

        {% for arrayLicenseData in arrayLicenseData %}

            {% if arrayLicenseData.statusLicense == "Active" %}

                {% if arrayLicenseData.renovation is empty %}
                    {% set totalAmountLicense = arrayLicenseData.amount %} 

                {% else %}    
                    {% for renovationLicense in arrayLicenseData.renovation %}  
                        {% set amountRenovation = amountRenovation + renovationLicense.amount %} 
                    {% endfor %}

                    {% set amountLicenseRenovation = arrayLicenseData.amount %} 
                    {% set totalAmountLicense = amountLicenseRenovation + amountRenovation %} 

                {% endif %}

                {#                {% set acumAmountLicense = acumAmountLicense + totalAmountLicense %} #}
                {% set acumAmountLicense = acumAmountLicense + arrayLicenseData.amount %} 
                <tr align="center" id="trlicense_{{ loop.index-1 }}">
                    <td align="center">{{ arrayLicenseData.license }}
                        <input type="hidden" id="licenseId_{{loop.index-1}}" name="licenseId_{{loop.index-1}}"  value="{{arrayLicenseData.idLicense}}" />
                        <input type="hidden" id="durationTime_{{loop.index-1}}" name="durationTime_{{loop.index-1}}"  value="{{arrayLicenseData.durationtime}}" />
                        <input type="hidden" id="dueDate_{{loop.index-1}}" name="dueDate_{{loop.index-1}}"  value="{{ arrayLicenseData.expiration_date.toDateTime|date('Y-m-d H:i:s') }}" />
                        <input type="hidden" id="amountLic_{{loop.index-1}}" name="amountLic_{{loop.index-1}}"  value="{{ arrayLicenseData.amount }}" />
                        <input type="hidden" id="register_{{loop.index-1}}" name="register_{{loop.index-1}}"  value="1" />
                    </td>                            
                    <td align="center">{{ arrayLicenseData.usersquantity }}</td>                            
                    <td align="center">{{ arrayLicenseData.numberclients }}</td>                            
                    <td align="center">{{ arrayLicenseData.numberexams }}</td>                            
                    <td align="center">{{ arrayLicenseData.durationtime }}</td>
                    <td align="center">{{ arrayLicenseData.amount|number_format(2, '.', ',') }} {{ currentSymbol }}</td>
                    <td align="center">{{ arrayLicenseData.expiration_date.toDateTime|date('Y-m-d') }}</td>
                    <td align="center"><a title="Delete" onclick="loadDeleteModal('trlicense_', {{loop.index-1}}, {{ totalAmountLicense }}, 1);" class=""><img src="{{ asset('img/delete.png') }}" alt="Delete" width="18px" height="18px"/></a></td>
                </tr>
            {% endif %}

        {% endfor %}
    </table>
    {#    <div id="divAmount" align="right" style="display: block; background: white; width: 100%"><b>Total to pay:</b>&nbsp;&nbsp;<input readonly="" name="amountTotal" id="amountTotal" type="hidden" value="{{ acumAmountLicense  }}" ><input readonly="" name="amountTotalShow" id="amountTotalShow" type="text" value="{{ acumAmountLicense|number_format(2, '.', ',')  }}" placeholder="" class="" style=" width: 25%; max-width: 50%; box-sizing: border-box;border: none;border-bottom: 2px solid black; text-align: center"><label id="labelAmountCurrentSymbol"><b>{{ currentSymbol }}</b></label></div>                        #}
    <div class="row">
        <div class="form-group col-sm-6"></div>
        <div class="form-group col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><b>Total to pay:</b></span>
                </div>
                <input readonly="" name="amountTotal" id="amountTotal" type="hidden" value="{{ acumAmountLicense  }}" >
                <input type="text" name="amountTotalShow" id="amountTotalShow" class="form-control" value="{{ acumAmountLicense|number_format(2, '.', ',')  }}">
                <div class="input-group-append">
                    <span class="input-group-text">{{ currentSymbol }}</span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    {#<a class="btn btn-primary btn-sm" href="{{ path('payment_create', { 'id': id }) }}" title="Add Payment" role="button"><i class="fas fa-plus-circle"></i> Add Payment</a>&nbsp;&nbsp;&nbsp;&nbsp;          #}
    <div align="center" id="labelPayments" style="display: block"><h4 style="background-color:  #f0f3f5; align-items: center">Payments</h4></div>    
    {#    <a class="btn btn-primary btn-sm" onclick="loadPaymentModal();" title="Add Payment" role="button"><i class="fas fa-plus-circle"></i> Add Payment</a>&nbsp;&nbsp;&nbsp;&nbsp;          #}
    <button title="Add Payment" type="button" onclick="loadPaymentModal();" class="btn btn-primary btn-sm" style=""><i class="fas fa-plus-circle"></i> Add Payment</button>
    <div align="center" id="labelValidaPay" style="display: block"></div>
    <br>
    <br>
    <input name="countPayments" id="countPayments" type="hidden" value="0">
    <table id="tablePayments" class="table table-responsive-sm table-bordered table-hover table-sm" style="display: table; width: 100%; font-size: 14px;">
        <tr align="center" style="background-color: #f0f3f5;">
            <th align="center">Way to pay</th>                            
            <th align="center">Amount</th>                            
            <th align="center">Issuing bank</th>                            
            <th align="center">Receiving bank</th>                            
            <th align="center">Operation number</th>                            
            <th align="center">Action</th>
        </tr>
        {#{% for payments in medicalcenter.payments %}
            {% if payments.status == 1 %}
                {% set acumAmountPayments = acumAmountPayments + payments.amount %} 
                <tr align="center" id="trlicense_{{ loop.index-1 }}">
                    <td align="center">{{ payments.waytopay }}</td>                            
                    <td align="center">{{ payments.operationnumber }}</td>                            
                    <td align="center">{{ payments.issuingbank }}</td>                            
                    <td align="center">{{ payments.receivingbank }}</td>                            
                    <td align="center">{{ payments.amount }}</td>                            
                    <td align="center">
                        <a title="Edit Payment" href="{{ path('payment_edit', { 'id' : id, 'position' : loop.index-1 }) }}" class="btn btn-info btn-sm "><i class="fas fa-edit"></i> </a>
                        <a title="Delete Payment" href="{{ path('payments_delete', { 'id' : id, 'position' : loop.index-1 }) }}" class="btn btn-danger btn-sm " onclick="return confirm('¿Be sure to eliminate the payment?');"><i class="fas fa-minus-circle"></i> </a>
                    </td>

                </tr>
            {% endif %}    
        {% endfor %}#}
    </table>
    {% set acumRemaining = acumAmountLicense - acumAmountPayments %} 
    <br>
    <br>
    {#    <div id="divRemaining" align="right" style="display: block; width: 100%"><b>Remaining:</b>&nbsp;&nbsp;<input readonly="" name="remaining" id="remaining" type="hidden" value="{{ acumRemaining  }}" ><input readonly="" name="remainingShow" id="remainingShow" type="text" value="{{ acumRemaining|number_format(2, '.', ',') }}" placeholder="" class="" style=" width: 20%; box-sizing: border-box;border: none;border-bottom: 2px solid black; text-align: center"><label id="labelAmountCurrentSymbol"><b>{{ currentSymbol }}</b></label></div>#}
    {#    <div id="divTotalPayment" align="right" style="display: block; width: 100%"><b>Total to pay:</b>&nbsp;&nbsp;<input readonly="" name="total" id="total" type="hidden" value="{{ acumAmountPayments  }}" ><input readonly="" name="totalShow" id="totalShow" type="text" value="{{ acumAmountPayments|number_format(2, '.', ',') }}" placeholder="" class="" style=" width: 20%; box-sizing: border-box;border: none;border-bottom: 2px solid black; text-align: center"><label id="labelAmountCurrentSymbol"><b>{{ currentSymbol }}</b></label></div>#}
    <div class="row">
        <div class="form-group col-sm-6"></div>
        <div class="form-group col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><b>Remaining:</b></span>
                </div>
                <input readonly="" name="remaining" id="remaining" type="hidden" value="{{ acumRemaining  }}" >
                <input type="text" name="remainingShow" id="remainingShow" class="form-control" value="{{ acumRemaining|number_format(2, '.', ',')  }}">
                <div class="input-group-append">
                    <span class="input-group-text">{{ currentSymbol }}</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><b>Total to pay:</b></span>
                </div>
                <input readonly="" name="total" id="total" type="hidden" value="{{ acumAmountPayments  }}" >
                <input type="text" name="totalShow" id="totalShow" class="form-control" value="{{ acumAmountPayments|number_format(2, '.', ',')  }}">
                <div class="input-group-append">
                    <span class="input-group-text">{{ currentSymbol }}</span>
                </div>
            </div>
        </div>
    </div>    

{% elseif opcion == 8 %}    
    <select class="form-control select-licenses" name="license" id="license" onchange="loadAjax(this.value, 'divLicenses', 5, '{{ country_id }}');
            loadInfoLicense();">
        <option value="">Select...</option> 
        {% for licensecountry in licensecountry %}
            {% set selected = '' %}
            <option value="{{licensecountry.id}}">{{licensecountry.license}}</option>
        {% endfor %}
    </select>
{% elseif opcion == 9 %}  
    <select class="form-control select-waytopay" style="width: 95%" name="waytopay" id="waytopay" onchange="wayToPayOperation();">            
        <option value="">Select...</option> 
        {% for waytopay in waytopay %}
            {% set selected = 'selected' %}
            {% if waytopay == waytopayEdit %}
                <option value="{{waytopay}}" {{ selected }}>{{waytopay}}</option>  
            {% else %}  
                <option value="{{waytopay}}">{{waytopay}}</option>
            {% endif %}  
        {% endfor %}
    </select> 
{% elseif opcion == 10 %}  
    <select class="form-control select-issuingbank" style="width: 95%" name="issuingbank" id="issuingbank" onchange="" disabled="">  
        <option value="">Select...</option> 
        {% for issuingbank in issuingbank %}
            {% set selected = 'selected' %}
            {% if issuingbank == issuingbankEdit %}
                <option value="{{issuingbank}}" {{ selected }}>{{issuingbank}}</option>  
            {% else %}  
                <option value="{{issuingbank}}">{{issuingbank}}</option>
            {% endif %}  
        {% endfor %}
    </select>
{% elseif opcion == 11 %}  
    <select class="form-control select-receivingbank" style="width: 95%" name="receivingbank" id="receivingbank" onchange="" disabled="">
        <option value="">Select...</option> 
        {% for receivingbank in receivingbank %}
            {% set selected = 'selected' %}
            {% if receivingbank == receivingbankEdit %}
                <option value="{{receivingbank}}" {{ selected }}>{{receivingbank}}</option>  
            {% else %}  
                <option value="{{receivingbank}}">{{receivingbank}}</option>
            {% endif %}  
        {% endfor %}
    </select>  
{% elseif opcion == 12 %}  
    <table id="tableInfoLicenses" class="table table-responsive-sm table-bordered table-hover table-sm" style="display: table; width: 100%; font-size: 14px;">
        <tr align="center" style="background-color: #f0f3f5;">
            <th align="center">License</th>                            
            <th align="center">Dute Date</th>                                        
        </tr>
        {% for arrayLicenseData in arrayLicenseData %}

            <tr align="center" id="trlicense_{{ loop.index-1 }}">
                <td align="center" style="width: 100px">{{ arrayLicenseData.license }}</td>                            
                <td align="center" style="width: 50px">{{ arrayLicenseData.duedate }}</td>                            
            </tr>            
        {% endfor %}
    </table>
{% endif %}    

<script type="text/javascript">
    $(document).ready(function () {
    {#        $('#amountTotal').mask('000000000.00', {reverse: true});#}
            $('#remainingShow').mask('000,000,000.00', {reverse: true});
            $('#totalShow').mask('000,000,000.00', {reverse: true});
            $(".select-licenses").chosen({
                placeholder_text_single: "Select the license",
                width: "100%",
                height: "100%"
            });

            $(".select-waytopay").chosen({
                placeholder_text_single: "Select the way to pay",
                width: "100%"
            });

            $(".select-issuingbank").chosen({
                placeholder_text_single: "Select the way to pay",
                width: "100%"
            });

            $(".select-receivingbank").chosen({
                placeholder_text_single: "Select the way to pay",
                width: "100%"
            });

            if (($("#waytopay").val() === "") || ($("#waytopay").val() === "EFECTIVO"))
            {
                $("#divInfoTarjetas").hide();
                $("#divNumCheck").hide();
                $("#divProofTransfer").hide();

                $("#cardholder").val("");
                $("#cardnumber").val("");
                $("#expiration").val("");
                $("#cvv").val("");
                $("#operationnumber").val("");
                $("#files4").val("");
                $("#inputFile4Base64").val("");
                $("#list4").html("");

                $("#receivingbank").attr('disabled', true).trigger("chosen:updated");
                $("#issuingbank").attr('disabled', true).trigger("chosen:updated");
                $("#operationnumber").prop("disabled", true);

            } else if (($("#waytopay").val() === "TDD") || ($("#waytopay").val() === "TDC"))
            {
                $("#divInfoTarjetas").show();
                $("#divNumCheck").show();
                $("#divProofTransfer").hide();

    {#            $("#operationnumber").val("");#}
                $("#files4").val("");
                $("#inputFile4Base64").val("");
                $("#list4").html("");

                $("#receivingbank").attr('disabled', false).trigger("chosen:updated");
                $("#issuingbank").attr('disabled', false).trigger("chosen:updated");
                $("#operationnumber").prop("disabled", false);

            } else if ($("#waytopay").val() === "CHEQUE")
            {
                $("#divInfoTarjetas").hide();
                $("#divNumCheck").show();
                $("#divProofTransfer").hide();

                $("#cardholder").val("");
                $("#cardnumber").val("");
                $("#expiration").val("");
                $("#cvv").val("");
                $("#files4").val("");
                $("#inputFile4Base64").val("");
                $("#list4").html("");
    {#            $("#operationnumber").val("");#}

                $("#receivingbank").attr('disabled', false).trigger("chosen:updated");
                $("#issuingbank").attr('disabled', false).trigger("chosen:updated");
                $("#operationnumber").prop("disabled", false);

            } else if (($("#waytopay").val() === "TRANSFERENCIA") || ($("#waytopay").val() === "DEPOSITO"))
            {
                $("#divInfoTarjetas").hide();
                $("#divNumCheck").show();
                $("#divProofTransfer").show();

                $("#cardholder").val("");
                $("#cardnumber").val("");
                $("#expiration").val("");
                $("#cvv").val("");
    {#            $("#operationnumber").val("");#}

                $("#receivingbank").attr('disabled', false).trigger("chosen:updated");
                $("#issuingbank").attr('disabled', false).trigger("chosen:updated");
                $("#operationnumber").prop("disabled", false);
            }
    {#alert({{ daystopayEdit|number_format }});
    alert({{ daystopayEdit}});#}
            if ("{{ daystopayEdit }}" === "")
            {


            } else if ("{{ daystopayEdit|number_format }}" === "0")
            {
                $('#paymenttype').val("full").trigger('chosen:updated');
                $("#divDaystopay").hide();
            } else if ("{{ daystopayEdit|number_format }}" > 0)
            {
                $('#paymenttype').val("partial").trigger('chosen:updated');
                $("#divDaystopay").show();
                $("#amount").prop("disabled", false);
            }

        });

</script>
