{% extends '@App/base.html.twig' %}

{% block ol %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('country_list') }}">Country</a>
        </li>
        <li class="breadcrumb-item active">Create</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            {#<div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="./">
                    <i class="icon-graph"></i>  Dashboard</a>
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  Settings</a>
            </div>#}
        </li>
    </ol>        
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <strong>Register Country</strong>
            {#            <small>List</small>#}
        </div>
        <div class="card-body">
            <div class="card-block">
                <form action="{{ path('country_create') }}" method="post" id="formid">    
                    <div id="ok"></div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Country</label>
                            <input name="country" id="country" type="text" value="" placeholder="Country" class="form-control">
                            <input name="timeZ" id="timeZ" type="hidden" value="">
                        </div>           
                        <div class="form-group col-sm-6">       
                            <label>Languaje</label>
                            <div class="selector-country">
                                <select class="form-control select-languaje" name="languaje" id="languaje">
                                    {#                                <select class="form-control selectpicker" data-live-search="true" name="languaje" id="languaje">#}
                                    <option value="">Select...</option>  
                                    {% for ArrayLanguaje in ArrayLanguajes %}
                                        {% set selected = '' %}
                                        <option value="{{loop.index-1}}">{{ArrayLanguaje.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {#<div class="form-group col-sm-6" style="display: none"> 
                            <label>Time Zone</label>
                            <input name="time_zone" id="time_zone" type="text" placeholder="Time Zone" class="form-control" value="UTC">
                        </div>#}
                        <div class="form-group col-sm-6">
                            <label>Acronym</label>
                            <input name="acronym" id="acronym" type="text" placeholder="Acronym" class="form-control">
                        </div>
                        <div class="form-group col-sm-6"> 
                            <label>Coin</label>
                            <input name="coin" id="coin" type="text" placeholder="Coin" class="form-control">
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-sm-6"> 
                            <label>Currency Symbol</label>
                            <input name="currency_symbol" id="currency_symbol" type="text" placeholder="Currency Symbol" class="form-control">
                        </div>
                        <div class="form-group col-sm-6"> 
                            <label>Tax Rate</label>
                            <input name="tax_rate" id="tax_rate" type="text" placeholder="Tax Rate" class="form-control">
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-sm-6"> 
                            <label>Telephone Prefix</label>
                            <input name="telefone_prefix" id="telefone_prefix" type="text" placeholder="Telephone Prefix" class="form-control">
                        </div>
                        <div class="form-group col-sm-6"> 
                            <label>Issuingbank</label>
                            <input name="issuingbank" id="issuingbank" type="text" value="" style="text-transform: uppercase" placeholder="Issuingbank" class="form-control" data-role="tagsinput" >                
                        </div>
                    </div>
                    <div class="row">                             
                        <div class="form-group col-sm-6"> 
                            <label>Receivingbank</label>
                            <input name="receivingbank" id="receivingbank" type="text" value="" placeholder="" class="form-control" data-role="tagsinput" >                
                        </div>
                        <div class="form-group col-sm-6"> 
                            <label>Waytopay</label>
                            <input name="waytopay" id="waytopay" type="text" value="" placeholder="" class="form-control" data-role="tagsinput" >                
                        </div>
                    </div>                    
                    <div class="form-group">       
                        <input type="submit" value="Save" class="btn btn-primary" id="button">&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-primary" href="{{ path('country_list') }}">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $("#timeZ").val($("#timeZone").val());
            }, 1000);

            $(".select-languaje").chosen({
                placeholder_text_single: "Select the type of license"
            });

            $('#tax_rate').mask("99999", {placeholder: " "});
            $('#telefone_prefix').mask("+999", {placeholder: " "});

            var emailreg = /^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/;

            $("#button").click(function () {
                        $(".error").remove();
                        if ($("#country").val() == "") {
                                $("#country").focus().after("<span class='error' style='color:#FF0000;'>Enter the country</span>");
                                return false;
                        } else if ($("#languaje").val() == "") {
                                $("#languaje_chosen").focus().after("<span class='error' style='color:#FF0000;'>Select the language</span>");
                                return false;
                        } else if ($("#time_zone").val() == "") {
                                $("#time_zone").focus().after("<span class='error' style='color:#FF0000;'>Enter the time use</span>");
                                return false;
                        } else if ($("#acronym").val() == "") {
                                $("#acronym").focus().after("<span class='error' style='color:#FF0000;'>Enter the initials</span>");
                                return false;
                        } else if ($("#coin").val() == "") {
                                $("#coin").focus().after("<span class='error' style='color:#FF0000;'>Enter the currency</span>");
                                return false;
                        } else if ($("#currency_symbol").val() == "") {
                                $("#currency_symbol").focus().after("<span class='error' style='color:#FF0000;'>Enter the currency symbol</span>");
                                return false;
                        } else if ($("#tax_rate").val() == "") {
                                $("#tax_rate").focus().after("<span class='error' style='color:#FF0000;'>Enter the tax rate</span>");
                                return false;
                        } else if ($("#telefone_prefix").val() == "") {
                                $("#telefone_prefix").focus().after("<span class='error' style='color:#FF0000;'>Enter the phone number</span>");
                                return false;
                        }
            });
            $("#country, #languaje, #time_zone, #acronym, #coin, #currency_symbol, #tax_rate, #telefone_prefix").keyup(function () {
                        if ($(this).val() != "") {
                                $(".error").fadeOut();
                                return false;
                        }
                });

        });

    </script>  
{% endblock %}