{% trans_default_domain 'FOSUserBundle' %}
<div class="card">
    <div class="card-header">
        <strong>Register User</strong>
        {#            <small>List</small>#}
    </div>
    <div class="card-body">        
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
            <a class="btn btn-primary" style="position: relative; top: -px; left:10px" href="{{ path('users_list') }}">Return</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
